nav{
    display: inline;
}
.nav-bar{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.nav-bar li{
    display: inline-flex;
    padding: 15px;
}
.buy-sell li {
    display: inline;
    padding: 10px;
}
.columnk{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}
.item1{
    float: left;
    width: 33.33%;
    margin-left: 25px;
    font-weight: bolder;
    
}
.item2{
    width: 33.33%;
    float: left;
    margin-bottom: 80px;

}
li button{
    background-color: rgb(241, 94, 26);
    border-radius: 3px;
    font-weight: bold;
    border: none;
    padding: 5px 15px;
}
.row{
   display: flex;
   justify-content: space-around;
}
img{
    width: 200px;
    height: 200px;
    margin-bottom: 200px;
}
.column{
    text-align: center;
    border-right: 00px;
    margin-right: 200px;
}
.logos{
    display:inline-block;
    margin-top: 20px;
    margin-left: 200px;  
    justify-content: space-evenly; 
}
h2{
    
}

#logo-btn {
    background-color: white;
    border-radius: 10px;
    padding: 1px 40px;
    margin: 8px;
    border: 1px solid lightgrey;
    max-height: 50px;
}
#logo-btn1{
    border: none;
    border-radius: 10px;
    font-weight: 800px;
    background-color: orangered;
    padding: 1px 40px;
    max-height: 50px;

}

#pa{
    float: right;
}


#meclog{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 5px solid none;
}
#audilog{
    height: 40px;
    width: 40px;
}
#hondalog{
    height: 40px;
    width: 40px;
}
#toyotalog{
    height: 40px;
    width: 40px;
}
#toyolog{
    height: 40px;
    width: 40px;
    opacity: 0;
}
#mazdalog{
    height: 40px;
    width: 40px;
}

.image-txt{
    font-size:20px;
    font-weight: lighter;
    margin: 25px;
    display: 
    
}
#audi{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 5px solid none;
}

span{
    color: orangered;
}
.people{
    display: flex;
    justify-content: space-around;
}
.icon3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.icon4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icon3-items {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    height: 500px;
    display: inline;
    border-radius: 10px;
}
.items-icon {
    margin-top: -150px;
    display: ;
    list-style-type: none;
}
.icons3-img {
    width: 80%;
    background-color: rgb(253, 237, 216);
    margin-left: 60px;
    margin-top: 5px;
    text-align: center;
    background-color: white;
}
.icons3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.happy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.more-info{
    background-color: rgb(202, 69, 7);
    border-radius: 3px;
    padding: 10px 12px;
    font-weight: 600;
    border: none;
    margin-left: 60px;
}
.column4{
    background-color: antiquewhite;
    margin-top: 500px;
    text-align: center;
    padding-bottom: 200px;
    border-radius: 50px;
    border-width: 30%;
    border-bottom: 50px;
    margin-bottom: 300px;
    height: 30px;
}
h8{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
}
.store{
    width: 200px;
    height: 100px;
    margin-bottom: 70px;
    margin-left: 20px;
    background-color: antiquewhite;
}
.playstore{
    width: 100px;
    height: 50px;
    margin-bottom: 100px;
    margin-left: 20px;
    background-color: antiquewhite;
}
.carrental{
    width: 150px;
    height: 400px;
    margin-left: 800px;
    margin-top: -350px;
}
.bottom{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}#products{
    display: block;
}
#about{
    display: block;
}
#resources{
    display: block;
}
#subscribe{
    display: block;
}
.gooogle{
    display: flex;
}
.column-clients {
    width: 30%;
    text-align: center;
}
.column-clients h5{
    margin-top: -150px;
}
.client-img {
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.row2{
    height: 300px;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 60px;
    margin-left: 100px;
    border-radius: 15px;
    margin-top: 50px;

}

input{
    padding: 10px;
    border: 2px solid orangered;
    margin: 10px;
    display: list-item;
}

.subscribe-btn {
    padding: 10px 25px;
    background-color: orangered;
    border-radius: 10px;
    border: none;
}